<h1>Log-In</h1>

<form action="/auth/login" method="POST">

  <label for="email">Email Address</label>
  <input type="email" name="email" for="email">

  <label for="password">Password</label>
  <input type="password" name="password" for="password">

  <input type="submit" value="Sign Up">
</form>