<h1>Sign-Up</h1>

<form action="/auth/signup" method="POST">
  <lable  for="new-name">Name</lable>
  <input type="text" name="name" id="new-name">

  <label for="new-email">Email Address</label>
  <input type="email" name="email" for="new-email">

  <label for="new-password">Password</label>
  <input type="password" name="password" for="new-password">

  <input type="submit" value="Sign Up">
</form>