<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <title>Journal Fitness</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <% if(!currentUser) { %>
          <h3><a href="/auth/signUp">Sign Up</a>   <a href="/auth/logIn">Log In</a></h3>
        <% } else { %>
          <h3><a href="/auth/logOut">Log Out</a>   <a href="/profile">Profile</a>   <a href="/exercise">Exercise Search</a>   <a href="/exercise/favorite">Favorite Exercises</a></h3>
        <% } %>
      </ul>
    </nav>
  </header>
  <%- include('partials/alerts') %> 
  <%- body %> 
</body>
</html>