<h1> List of Exercises</h1>



<div class="exerciseList">
<% exercise.forEach(function(exercise){ %>
    <% if(exercise.language != 1) {%>
      <% console.log(exercise.id) %>
      <h2><a href="/exercise/<%= exercise.id %>/view"><%= exercise.name %></a></h2>
    <% } %>
  <% }) %> 
</div>