<h1>Exercise Search</h1>

<form method="POST" action="exercise/search">
  <input hidden type="text" name="exerciseName" value="<%= exercise.name %>">
  <button class="btn btn-primary" type="submit">Add to Favorite Exercise List</button>
</form>